[Unit]
Description=PulseAudio waits for Audio-HAL
After=pulseaudio.service
ConditionPathExists=/dev/socket/audio_hw_socket

[Service]
ExecStart=/bin/true
Type=oneshot

[Install]
WantedBy=pulseaudio.service
